<div class="callout warning">
  <b>ATENCIÓ, no feu aquesta operació a menys que ho necessiteu per algun motiu de pes.</b> 
  <p>Si us plau, assegura't de que l'usuari que estàs creant és un soci de l'associació amb el correu electrònic correcte.</p>
  <p><b>Si s'introdueix un correu electrònic incorrecte o que no correspongui al soci i DNI indicats, l'usuari no podrà accedir a la plataforma.</b></p>
  <p>El fet d'introduir un usuari en aquest formulari només crearà l'usuari a la plataforma, no enviarà cap invitació.</p>
  <p>En el moment en que l'usuari accedeixi a la plataforma, haurà d'acceptar les condicions d'ús i la política de privacitat.</p>
</div>
<%= form_for(@user, url: admin_cas_users_path, html: { class: "form new_user" }) do |f| %>
  <div class="card">
    <div class="card-divider">
      <h2 class="card-title">Crea una usuari al Decidim</h2>
    </div>
    <div class="card-section">
      <div><%= f.text_field :name, label: "Nom" %></div>
      <div><%= f.text_field :email %></div>
      <div>
        <%= f.label "Numero de soci" %>
        <%= text_field_tag "soci", f.object.extended_data["soci"], type: "number" %>
      </div>
      <div>
        <%= f.label "DNI" %>
        <%= text_field_tag "dni", f.object.extended_data["username"] %>
      </div>
    </div>
  </div>

  <div class="button--double form-general-submit">
    <%= f.submit "Crea la usuaria" %>
  </div>
<% end %>
