<div class="row column">
  <div class="process-nav consultations-nav">
    <button class="process-nav__trigger hide-for-medium" data-toggle="process-nav-content">
      <%= icon "caret-bottom", class: "icon--small process-nav__trigger__icon", aria_label: t("layouts.decidim.question_components.unfold"), role: "img" %>
      <span class="process-nav__link">
        <% if self.try(:current_component) %>
          <%= component_icon(current_component) %>
          <%= translated_attribute(current_component.name) %>
        <% else %>
          <%= external_icon "media/images/icon.svg", role: "img", "aria-hidden": true %>
          <%= t("layouts.decidim.question_components.question_menu_item") %>
        <% end %>
      </span>
    </button>

    <%=
      extended_navigation_bar([
        {
          name: t("layouts.decidim.question_components.question_menu_item"),
          url: "javascript:void(0);",
          active: true
        }
      ])
    %>
  </div>
</div>
