<%= render "layouts/decidim/summary" do %>
  <%# The commented div adds more padding %>
  <%# <div class="wrapper"> %>
    <%= render "decidim/consultations/question_summaries/question_header", question: current_participatory_space %>
    <%= render "decidim/consultations/question_summaries/question_components", question: current_participatory_space %>
    <%= render "decidim/consultations/questions/results", question: current_participatory_space %>

    <%= yield %>
  <%# </div> %>
<% end %>
